body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 50px;
}

#timer{
    font-size: 40px;
    margin: 20px;
}

.btn {
    padding: 10px 20px;
    font-size: 18px;
    margin: 10px;
    cursor: pointer;
}